[submodule "much_dynamic_theme_colour"]
	path = much_dynamic_theme_colour
	url = git@github.com:much-GmbH/much_dynamic_theme_colour.git
	branch = 15.0

[submodule "installed-base"]
	path = installed-base
	url = git@github.com:much-GmbH/installed-base.git
	branch = feat-installed-base-medtech

[submodule "medtech_feedback_management"]
	path = medtech_feedback_management
	url = git@github.com:much-GmbH/medtech_feedback_management.git
	branch = main
